# Import Library

In [1]:
import pandas as pd 
import numpy as np
from datetime import date

pd.set_option("display.max_columns",None)
pd.options.display.float_format = '{:.2f}'.format

# Dataset

- Dataset Cycle

In [2]:
cycle = pd.read_csv(r"\Belajar\Jala Test\Dataset\cycles.csv")
cycle.head(3)

,id,pond_id,species_id,total_seed,started_at,finished_at,remark,created_at,updated_at,area,initial_age,limit_weight_per_area,target_cultivation_day,target_size,extracted_at,subscription_type,ordered_at,hatchery_id,total_seed_type,hatchery_name,pond_name,pond_length,pond_width,pond_depth
0,18876,36294,1.00,331920,2022-10-14 00:00:00.000,2023-01-29 00:00:00.000,NaN,2022-10-14 12:34:23.000,2023-01-30 01:46:27.000,4030.00,0.00,2.00,110.00,35.00,2024-04-12 17:02:22.000,Free,NaN,66.00,net,UD. Benur Ndaru Laut,H,65.00,62.00,1.00
1,22118,37102,1.00,40000,2023-04-26 00:00:00.000,2023-06-23 00:00:00.000,#TBR01,2023-04-30 22:28:13.000,2023-06-26 05:35:32.000,399.00,0.00,1.25,120.00,100.00,2024-04-12 17:02:22.000,Free,NaN,83.00,net,CV Raja Benur,A1,30.00,20.00,1.00
2,24088,39154,NaN,357570,2023-08-01 00:00:00.000,2023-10-18 00:00:00.000,#SiklusFarm,2023-07-12 01:13:05.000,2023-10-19 04:23:11.000,2000.00,0.00,1.25,120.00,20.00,2024-04-12 17:02:22.000,Free,2023-07-12 01:13:05.000,1004.00,gross,PT. Tri Karta Pratama - Total Kualitas Prima,A3,50.00,40.00,1.40

**__Catatan__** : <p> 
Berdasarkan pemahaman data, informasi yang di muat adalah siklus budidaya, seperti informasi id siklus, tanggal awal dan akhir, target budidaya, tempat penetasan, dan sebagainya

In [3]:
cycle.isnull().sum()

id                           0
pond_id                      0
species_id                 814
total_seed                   0
started_at                   0
finished_at                  1
remark                    1281
created_at                   0
updated_at                   0
area                         0
initial_age                 48
limit_weight_per_area        7
target_cultivation_day       3
target_size                  4
extracted_at                 0
subscription_type            0
ordered_at                1523
hatchery_id                465
total_seed_type            242
hatchery_name              465
pond_name                    0
pond_length                  6
pond_width                   6
pond_depth                 118
dtype: int64

In [8]:
cycle.duplicated().sum()

50

In [10]:
cycle.id.nunique()

2500

- Dataset Farm

In [14]:
farm = pd.read_csv(r"\Belajar\Jala Test\Dataset\farms.csv")
farm.head(3)

    id          province  regency timezone
0  652        JAWA BARAT   SUBANG   +07:00
1  869  SULAWESI SELATAN    BARRU   +08:00
2  900        JAWA TIMUR  PACITAN   +07:00

**__Catatan__** : <p>
Berdasarkan pemahaman data, informasi yang di muat adalah informasi lokasi tambak, terdapat id farm, lokasi provinsi, kota, dan zona waktu

In [15]:
farm.isnull().sum()

id           0
province    72
regency     93
timezone     0
dtype: int64

In [16]:
farm.duplicated().sum()

0

- Dataset Fasting

In [17]:
fasting = pd.read_csv(r"\Belajar\Jala Test\Dataset\fasting.csv")
fasting.head(3)

  logged_date  cycle_id  fasting
0  2022-10-17     15804     1.00
1  2022-11-27     15804     0.00
2  2022-11-28     15804     0.00

In [18]:
fastings = pd.read_csv(r"\Belajar\Jala Test\Dataset\fastings.csv")
fastings.head(3)

  logged_date  cycle_id  fasting
0  2022-03-26  15013.00     1.00
1  2022-03-27  15013.00     0.00
2  2022-03-28  15013.00     0.00

**__Catatan__** : <p>
Berdasarkan pemahaman kedua data, informasi yang di muat adalah informasi label puasa per siklus

In [26]:
print(f"fasting : {fasting.isnull().sum()}")
print(f"fastings : {fastings.isnull().sum()}")

fasting : logged_date     0
cycle_id        0
fasting        17
dtype: int64
fastings : logged_date     0
cycle_id        0
fasting        40
dtype: int64

In [27]:
print(f"fasting : {fasting.duplicated().sum()}")
print(f"fastings : {fastings.duplicated().sum()}")

fasting : 67
fastings : 185

In [28]:
print(f"fasting : {fasting.cycle_id.nunique()}")
print(f"fastings : {fastings.cycle_id.nunique()}")

fasting : 339
fastings : 1683

- Dataset Feed Tray

In [30]:
feed_tray = pd.read_csv(r"\Belajar\Jala Test\Dataset\feed_tray.csv")
feed_tray.head(3)

,id,logged_at,feed_logged_at,cycle_id,tray_number,feed_remaining_percent,remark,created_at,updated_at,local_feed_logged_at
0,498,2021-11-19 17:09:00,2021-11-20 04:09:00,12163,1,0,NaN,2021-11-20 04:12:03,2021-11-20 04:12:03,2021-11-20 00:09:00
1,499,2021-11-19 17:09:00,2021-11-20 04:09:00,12163,2,0,NaN,2021-11-20 04:12:03,2021-11-20 04:12:03,2021-11-20 00:09:00
2,500,2021-11-20 09:14:00,2021-11-20 08:14:00,12163,1,0,NaN,2021-11-20 08:15:17,2021-11-20 08:15:17,2021-11-20 16:14:00

**__Catatan__** : <p>
Berdasarkan pemahaman data, informasi yang di muat adalah informasi detail alat pengecekan nafsu makan udang (anco) secara berkala

In [31]:
feed_tray.isnull().sum()

id                             0
logged_at                      0
feed_logged_at                 0
cycle_id                       0
tray_number                    0
feed_remaining_percent         0
remark                    140283
created_at                     0
updated_at                     0
local_feed_logged_at           0
dtype: int64

In [32]:
feed_tray.duplicated().sum()

0

- Dataset Feeds

In [34]:
feeds = pd.read_csv(r"\Belajar\Jala Test\Dataset\feeds.csv")
feeds.head(3)

   cycle_id                logged_at  quantity
0     15013  2022-03-29 00:00:00.000      0.50
1     15013  2022-03-29 05:30:00.000      0.50
2     15013  2022-03-29 11:30:00.000      0.50

**__Catatan__** : <p>
Berdasarkan pemahaman data, informasi yang di muat adalah informasi pemberian pakan

In [35]:
feeds.isnull().sum()

cycle_id      0
logged_at    21
quantity     21
dtype: int64

In [36]:
feeds.duplicated().sum()

154995

In [38]:
feeds.cycle_id.nunique()

2500

- Dataset Harvest

In [39]:
harvest = pd.read_csv(r"\Belajar\Jala Test\Dataset\harvests.csv")
harvest.head(3)

,cycle_id,updated_at,size,created_at,weight,id,harvested_at,status,selling_price
0,15013.00,2022-07-18 08:42:59,399.86,2022-07-18 08:42:59,0.01,11960.00,2022-04-17,Failed,NaN
1,11848.00,2021-10-25 23:29:53,300.00,2021-10-24 08:38:53,46.00,7520.00,2021-10-22,Full,1610000.00
2,11848.00,2021-10-25 23:29:35,300.00,2021-10-25 23:29:35,10.00,7546.00,2021-10-21,Partial,350000.00

**__Catatan__** : <p>
Berdasarkan pemahaman data, informasi yang di muat adalah informasi detail panen, seperti tanggal panen, dan sebagainya

In [40]:
harvest.isnull().sum()

cycle_id            0
updated_at          0
size                0
created_at          0
weight              0
id                  0
harvested_at        0
status            263
selling_price    1793
dtype: int64

In [41]:
harvest.duplicated().sum()

0

In [42]:
harvest.cycle_id.nunique()

2490

- Dataset Measure

In [45]:
measure = pd.read_csv(r"\Belajar\Jala Test\Dataset\measurements.csv")
measure.head(3)

,pond_id,cycle_id,measured_date,morning_temperature,evening_temperature,morning_do,evening_do,morning_salinity,evening_salinity,morning_pH,evening_pH,transparency,turbidity,ammonia,nitrate,nitrite,alkalinity,hardness,calcium,magnesium,carbonate,bicarbonate,tom,total_plankton_
0,31250,15009,2022-04-16,29.00,NaN,NaN,NaN,28.00,NaN,8.10,NaN,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21226,10897,2021-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,45694,27893,2023-12-07,29.34,32.45,4.36,6.25,2.15,2.69,8.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**__Catatan__** : <p>
Berdasarkan pemahaman data, informasi yang di muat adalah informasi detail kondisi kolam budidaya, seperti temperatur, kadar karbon, kadar alkaline, dan sebagainya

In [46]:
measure.isnull().sum()

pond_id                     0
cycle_id                    0
measured_date               0
morning_temperature     41855
evening_temperature     49839
morning_do              61324
evening_do              65098
morning_salinity        46388
evening_salinity        73957
morning_pH              20115
evening_pH              78101
transparency            61750
turbidity              138884
ammonia                135302
nitrate                136888
nitrite                129293
alkalinity             125533
hardness               133525
calcium                132458
magnesium              132430
carbonate              133762
bicarbonate            132372
tom                    131774
total_plankton_        126429
dtype: int64

**__Catatan__** : <p>
Berdasarkan pemahaman data, dataset measure terdapat banyak null value, dataset ini sulit untuk dijadikan fitur untuk mengeneralisir untuk seluruh siklus

In [47]:
measure.duplicated().sum()

0

In [48]:
measure.cycle_id.nunique()

2500

- Dataset Mortal

In [50]:
mortal = pd.read_csv(r"\Belajar\Jala Test\Dataset\mortalities.csv")
mortal.head(3)

,id,cycle_id,quantity,recorded_at,created_at,updated_at,average_weight
0,185,8007,83334,2021-03-04,2021-03-04 03:46:42,2024-01-08 11:40:40,1.50
1,186,8007,43334,2021-03-05,2021-03-05 06:47:30,2024-01-08 11:40:40,1.50
2,188,8139,870,2021-03-04,2021-03-11 09:00:34,2024-01-08 11:40:40,3.45

**__Catatan__** : <p>
Berdasarkan pemahaman data, informasi yang di muat adalah informasi terkait mortalities bibit

In [51]:
mortal.isnull().sum()

id                0
cycle_id          0
quantity          0
recorded_at       0
created_at        0
updated_at        0
average_weight    0
dtype: int64

In [52]:
mortal.duplicated().sum()

0

In [53]:
mortal.cycle_id.nunique()

857

- Dataset Ponds

In [54]:
ponds = pd.read_csv(r"\Belajar\Jala Test\Dataset\ponds.csv")
ponds.head(3)

,id,farm_id,length,width,deep,created_at,updated_at,record_id,extracted_at,max_seed_density
0,2117,8,NaN,NaN,NaN,2018-04-19 20:09:43.000,2018-04-19 20:09:43.000,ponds_2023_12_21_2117,2023-12-21 17:02:10.000,NaN
1,9,3,16.70,36.20,NaN,2018-03-07 19:05:09.000,2018-03-15 00:58:08.000,ponds_2024_4_12_9,2024-04-12 17:02:11.000,NaN
2,2116,8,NaN,NaN,NaN,2018-04-19 20:09:43.000,2018-04-19 20:09:43.000,ponds_2023_12_21_2116,2023-12-21 17:02:10.000,NaN

**__Catatan__** : <p>
Berdasarkan pemahaman data, informasi yang di muat adalah informasi detail kondisi ukuran per kolam, seperti id kolam, luas, kedalaman yang terekam secara berkala

In [55]:
ponds.isnull().sum()

id                    0
farm_id               0
length               23
width                29
deep                 92
created_at            0
updated_at            0
record_id             0
extracted_at          0
max_seed_density    203
dtype: int64

In [56]:
ponds.duplicated().sum()

0

- Dataset Sampling

In [57]:
sampling = pd.read_csv(r"\Belajar\Jala Test\Dataset\samplings.csv")
sampling.head(3)

,cycle_id,updated_at,sampled_at,created_at,average_weight,id,remark
0,18747.00,2022-10-07 03:26:30,2022-09-24,2022-10-07 02:10:49,4.91,32508.00,Size 204\nP/H = 99 kg\nP/K = 2.020 kg\nSamplin...
1,18747.00,2022-10-07 03:27:27,2022-10-01,2022-10-07 03:27:27,7.12,32534.00,"Size 140\nADG = 0,31\nP/H = 139 kg\nP/K = 2.88..."
2,18747.00,2022-10-08 01:30:56,2022-10-08,2022-10-08 01:30:56,9.75,32575.00,"Size 103\nADG = 0,38\nP/H = 160 kg\nP/K = 3.94..."

**__Catatan__** : <p>
Berdasarkan pemahaman data, informasi yang di muat adalah informasi sample udang yang diambil, seperti tanggal sampling, rata berat, remark, dan sebagainya

In [58]:
sampling.isnull().sum()

cycle_id              0
updated_at            0
sampled_at            0
created_at            0
average_weight        0
id                    0
remark            13693
dtype: int64

In [59]:
sampling.duplicated().sum()

0